POProcesing/POProcessing/SOA/WSDLs/approveLargeOrder.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="approveLargeOrder"
     targetNamespace="http://xmlns.oracle.com/POProcesing/POProcessing/approveLargeOrder"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://xmlns.oracle.com/POProcesing/POProcessing/approveLargeOrder"
     xmlns:ns1="http://xmlns.oracle.com/ns/order"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns2="http://schemas.oracle.com/bpel/extension"
    >
    <plnk:partnerLinkType name="approveLargeOrder">
        <plnk:role name="approveLargeOrderProvider">
            <plnk:portType name="client:approveLargeOrder"/>
        </plnk:role>
        <plnk:role name="approveLargeOrderRequester">
            <plnk:portType name="client:approveLargeOrderCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/ns/order" schemaLocation="../Schemas/internalorder.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="approveLargeOrderRequestMessage">
        <wsdl:part name="payload" element="ns1:Order"/>
    </wsdl:message>
    <wsdl:message name="approveLargeOrderResponseMessage">
        <wsdl:part name="payload" element="ns1:Order"/>
    </wsdl:message>
    <wsdl:portType name="approveLargeOrder">
        <wsdl:operation name="process">
            <wsdl:input message="client:approveLargeOrderRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="approveLargeOrderCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:approveLargeOrderResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
